.task-log {
  font-family: 'Source Code Pro', monospace;
  font-size: 14px;
  outline: none;
}

.task-kind {
  color: #999;
  margin: 0 5px;
}

.task-kind-err {
  color: #c99;
}

.task-message {
  padding: 0 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
}

.task-entry:hover {
  background-color: #f4f4f4;
}

.task-entry.is-entry-selected {
  background: #f8f8e0;
}

.task-message-err {
  color: #c00;
}
