.App {
  display: grid;
  grid-template-columns: 60px 200px 1fr 250px;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
  height: 100vh;
}

header {
  grid-column: span 3;
  text-align: center;
  background-color: #222;
  color: white;
}

nav {
  background-color: #5f4339;
}

aside {
  background-color: #8c6d62;
}

main {
  background-color: #f8f8f8;
}

footer {
  grid-column: span 3;
  text-align: center;
  background-color: #ccc;
  color: white;
}

.is-selected {
  /* background: linear-gradient(
    rgba(255, 255, 255, 10),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 5)
  ); */
  background: #9be7ff;
}

.color-primary-contrast {
  color: #fff;
}
