.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (min-width: 768px) {
  .App {
    display: grid;
    grid-template-columns: 200px 300px 1fr;
    grid-template-rows: auto 1fr auto;
  }
}

header {
  grid-column: span 3;
  padding: 10px;
  text-align: center;
  font-size: 1.4em;
  background-color: #222;
  color: white;
}

main {
  flex: 1;
  padding: 20px;
}

nav {
  background-color: #ddd;
  padding: 10px;
}

aside {
  padding: 10px;
  background-color: #eee;
}

footer {
  grid-column: span 3;
  padding: 10px;
  text-align: center;
  font-size: 1.4em;
  background-color: #ccc;
  color: white;
}

h1 {
  margin-bottom: 1em;
  font-size: 1.3em;
  font-weight: bold;
}
