.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (min-width: 768px) {
  .App {
    display: grid;
    grid-template-columns: 250px 250px 1fr;
    grid-template-rows: auto 1fr auto;
  }
}

header {
  grid-column: span 3;
  text-align: center;
  background-color: #222;
  color: white;
}

main {
  flex: 1;
}

nav {
  background-color: #ddd;
}

aside {
  background-color: #eee;
}

footer {
  grid-column: span 3;
  text-align: center;
  background-color: #ccc;
  color: white;
}
