.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (min-width: 768px) {
  .App {
    display: grid;
    grid-template-columns: 250px 250px 1fr;
    grid-template-rows: auto 1fr auto;
  }
}

header {
  grid-column: span 3;
  text-align: center;
  background-color: #222;
  color: white;
}

main {
  flex: 1;
  background-color: #f8f8f8;
}

nav {
  background-color: #f0f0f0;
  border-right: solid 1px #ddd;
}

aside {
  background-color: #f4f4f4;
  border-right: solid 1px #ddd;
}

footer {
  grid-column: span 3;
  text-align: center;
  background-color: #ccc;
  color: white;
}

.is-selected {
  /* background: linear-gradient(
    rgba(255, 255, 255, 10),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 5)
  ); */
  background: #9be7ff;
}

.color-primary-contrast {
  color: #fff;
}
